<div class="contact__ice">
  <h2 class="visually-hidden">Our locations</h2>
  <ul class="contact__ice-place">
    <li class="chicago">
      <p class="category__cafe">CAFE</p>
      <div class="contact__wrapper">
        <p class="contact__title">Chicago</p>
        <p class="contact__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contact__wrapper">
        <p class="contact__workday">Monday - Friday</p>
        <p class="contact__worktime">06:00 AM - 10:00 PM</p>
        <p class="contact__workday">Saturday - Sunday</p>
        <p class="contact__worktime2">08:00 AM - 16:00 PM</p>
      </div>
      <div class="contact__links">
        <a class="contact__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284 </a>
        <a class="contact__email" href="mailto:noreply@envato.com">noreply@envato.com </a>
      </div>
    </li>
    <li class="los-angeles">
      <p class="category__foodtruck">FOOD TRUCK</p>
      <div class="contact__wrapper">
        <p class="contact__title">Los Angeles</p>
        <p class="contact__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contact__wrapper">
        <p class="contact__workday">Monday - Friday</p>
        <p class="contact__worktime">06:00 AM - 10:00 PM</p>
        <p class="contact__workday">Saturday - Sunday</p>
        <p class="contact__worktime2">08:00 AM - 16:00 PM</p>
      </div>
      <div class="contact__links">
        <a class="contact__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284 </a>
        <a class="contact__email" href="mailto:noreply@envato.com">noreply@envato.com </a>
      </div>
    </li>
    <li class="new-york">
      <p class="category__cafe">CAFE</p>
      <div class="contact__wrapper">
        <p class="contact__title">New York</p>
        <p class="contact__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contact__wrapper">
        <p class="contact__workday">Monday - Friday</p>
        <p class="contact__worktime">06:00 AM - 10:00 PM</p>
        <p class="contact__workday">Saturday - Sunday</p>
        <p class="contact__worktime2">08:00 AM - 16:00 PM</p>
      </div>
      <div class="contact__links">
        <a class="contact__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284 </a>
        <a class="contact__email" href="mailto:noreply@envato.com">noreply@envato.com </a>
      </div>
    </li>
  </ul>
</div>
<div class="contact__buttons">
  <button class="contact__button1">Our Locations ></button>
  <button class="contact__button2">Franchise ></button>
</div>
