<section class="section-products">
    <div class="container">
        <p class="section-products__title">100% NATURAL</p>
        <h2 class="section-products__heading"></h2>

        <ul class="products">

            <!--first product ice cream-->
            <li class="products__item products__item--icecream">

                <picture>
                    <source 
                    media="(min-width:1200px)"
                    srcset="./images/product/ice/ice-desktop-webp1x.webp 1x,
                            ./images/product/ice/ice-desktop-webp2x.webp 2x,
                            ./images/product/ice/ice-desktop1x.png 1x,
                            ./images/product/ice/ice-desktop2x.png 2x" 
                    type="image/webp"  />
                    <source 
                    media="(min-width:768px)" 
                    srcset="./images/product/ice/ice-tablet-webp1x.webp 1x,
                            ./images/product/ice/ice-tablet-webp2x.webp 2x,
                            ./images/product/ice/ice-tablet1x.png 1x,
                            ./images/product/ice/ice-tablet2x.png 2x"
                    type="image/webp" />
                    <source 
                    media="(max-width:767px)"
                    srcset="./images/product/ice/ice-mobile-webp1x.webp 1x,
                            ./images/product/ice/ice-mobile-webp2x.webp 2x,
                           ./images/product/ice/ice-mobile1x.png 1x,
                           ./images/product/ice/ice-mobile2x.png 2x"
                  type="image/webp" />
                
                    <img class="products__photo" src="./images/product/ice/ice-mobile1x.png" alt="Ice-cream photo" />
                </picture>

                
                <h3 class="products__title">ICE CREAM</h3>
                <span class="products__dot"></span>
                <span class="products__dot"></span>
                <span class="products__dot"></span>

                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et</p>

                <a class="products__link" href="#">
                    <picture>
                        <source media="(min-width:1200px)" 
                        srcset="./images/product/arrow-desktop-webp1x.webp 1x,
                      ./images/product/arrow-desktop-webp2x.webp 2x,
                      ./images/product/arrow-desktop1x.jpg 1x,
                      ./images/product/arrow-desktop2x.jpg 2x"
                      type="image/webp" />
                        <source media="(min-width:768px)" 
                        srcset="./images/product/arrow-tablet-webp1x.webp 1x,
                      ./images/product/arrow-tablet-webp2x.webp 2x,
                      ./images/product/arrow-tablet1x.jpg 1x,
                      ./images/product/arrow-tablet2x.jpg 2x"
                      type="image/webp" />
                        <source media="(min-width:320px)" srcset="./images/product/arrow-mobile-webp1x.webp 1x,
                      ./images/product/arrow-mobile-webp2x.webp 2x,
                      ./images/product/arrow-mobile1x.jpg 1x,
                      ./images/product/arrow-mobile2x.jpg 2x"
                      type="image/webp" />

                        <img class="products__arrow" src="./images/product/arrow-mobile1x.jpg" alt="arrow" />
                    </picture>
                </a>
            </li>

            <!--second product ice coffee-->
            <li class="products__item products__item--coffee">

                <picture>
                    <source 
                    media="(min-width:1200px)"
                    srcset="./images/product/coffee/coffee-desktop-webp1x.webp 1x,
                          ./images/product/coffee/coffee-desktop-webp2x.webp 2x,
                        ./images/product/coffee/coffee-desktop1x.png 1x,
                          ./images/product/coffee/coffee-desktop2x.png 2x" 
                          type="image/webp"  />
                    <source 
                    media="(min-width:768px)"
                    srcset="./images/product/coffee/coffee-tablet-webp1x.webp 1x,
                            ./images/product/coffee/coffee-tablet-webp2x.webp 2x,
                            ./images/product/coffee/coffee-tablet1x.png 1x,
                            ./images/product/coffee/coffee-tablet2x.png 2x" 
                            type="image/webp" />
                    <source 
                   media="(max-width:767px)"
                     srcset="./images/product/coffee/coffee-mobile-webp1x.webp 1x,
                            ./images/product/coffee/coffee-mobile-webp2x.webp 2x,
                            ./images/product/coffee/coffee-mobile1x.png 1x,
                            ./images/product/coffee/coffee-mobile2x.png 2x" 
                    type="image/webp" />
                
                    <img class="products__photo" src="./images/product/coffee/coffee-mobile1x.png" alt="Ice-coffee photo" />
                </picture>



                <h3 class="products__title">ICE COFFEE</h3>
                <span class="products__dot"></span>
                <span class="products__dot"></span>
                <span class="products__dot"></span>

                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et</p>

                <a class="products__link" href="#">
                    <picture>
                        <source 
                        media="(min-width:1200px)" 
                        srcset="./images/product/arrow-desktop-webp1x.webp 1x,
                      ./images/product/arrow-desktop-webp2x.webp 2x,
                      ./images/product/arrow-desktop1x.jpg 1x,
                      ./images/product/arrow-desktop2x.jpg 2x"
                       type="image/webp" />
                        <source 
                        media="(min-width:768px)" srcset="./images/product/arrow-tablet-webp1x.webp 1x,
                      ./images/product/arrow-tablet-webp2x.webp 2x,
                      ./images/product/arrow-tablet1x.jpg 1x,
                      ./images/product/arrow-tablet2x.jpg 2x"
                       type="image/webp"/>
                        <source 
                        media="(min-width:320px)" 
                        srcset="./images/product/arrow-mobile-webp1x.webp 1x,
                      ./images/product/arrow-mobile-webp2x.webp 2x,
                      ./images/product/arrow-mobile1x.jpg 1x,
                      ./images/product/arrow-mobile2x.jpg 2x"
                       type="image/webp" />

                        <img class="products__arrow" src="./images/product/arrow-mobile1x.jpg" alt="arrow" />
                    </picture>
                </a>
            </li>
            <!--third product milkshake-->
            <li class="products__item products__item--milkshake">

                <picture>
                    <source 
                    media="(min-width:1200px)"
                    srcset="./images/product/shake/shake-desktop-webp1x.webp 1x,
                    ./images/product/shake/shake-desktop-webp2x.webp 2x,
                    ./images/product/shake/shake-desktop1x.png 1x,
                    ./images/product/shake/shake-desktop2x.png 2x"
                     type="image/webp"  />
                    <source 
                    media="(min-width:768px)"
                    srcset="./images/product/shake/shake-tablet-webp1x.webp 1x,
                    ./images/product/shake/shake-tablet-webp2x.webp 2x,
                    ./images/product/shake/shake-tablet1x.png 1x,
                    ./images/product/shake/shake-tablet2x.png 2x"
                     type="image/webp"  />
                    <source 
                    media="(max-width:767px)"
                    srcset="./images/product/shake/shake-mobile-webp1x.webp 1x,
                    ./images/product/shake/shake-mobile-webp2x.webp 2x,
                    ./images/product/shake/shake-mobile1x.png 1x,
                    ./images/product/shake/shake-mobile2x.png 2x"
                     type="image/webp"  />

                    <img class="products__photo" src="./images/product/shake/shake-mobile1x.png" alt="Milkshake photo" />
                </picture>


                <h3 class="products__title">MILKSHAKE</h3>
                <span class="products__dot"></span>
                <span class="products__dot"></span>
                <span class="products__dot"></span>

                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et</p>

                <a class="products__link" href="#">
                    <picture>
                        <source media="(min-width:1200px)" srcset="./images/product/arrow-desktop-webp1x.webp 1x,
                    ./images/product/arrow-desktop-webp2x.webp 2x,
                    ./images/product/arrow-desktop1x.jpg 1x,
                    ./images/product/arrow-desktop2x.jpg 2x"
                      type="image/webp" />
                        <source media="(min-width:768px)" srcset="./images/product/arrow-tablet-webp1x.webp 1x,
                    ./images/product/arrow-tablet-webp2x.webp 2x,
                    ./images/product/arrow-tablet1x.jpg 1x,
                    ./images/product/arrow-tablet2x.jpg 2x" 
                      type="image/webp"/>
                        <source media="(min-width:320px)" srcset="./images/product/arrow-mobile-webp1x.webp 1x,
                    ./images/product/arrow-mobile-webp2x.webp 2x,
                    ./images/product/arrow-mobile1x.jpg 1x,
                    ./images/product/arrow-mobile2x.jpg 2x"
                      type="image/webp" />

                        <img class="products__arrow" src="./images/product/arrow-mobile1x.jpg" alt="arrow" />
                    </picture>
                </a>
            </li>


        </ul>
    </div>
</section>