<div class="review">
  <div class="review__content">
    <img src="./images/review/review-girl-desktop.png" class="review__photo">
    <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
    <!-- <img src="./images/review/markrview.png" class="review__mark"> -->
  </div>
  <div class="review__elipses">
    <svg class="review__elipse" width="4px" height="4px">
      <use href="./images/svg/elipse.svg"></use>
    </svg>
    <svg class="review__elipse" width="4px" height="4px">
      <use href="./images/svg/elipse.svg"></use>
    </svg>
    <svg class="review__elipse" width="4px" height="4px">
      <use href="./images/svg/elipse.svg"></use>
    </svg>
  </div>
  <p class="review__clientname"> Emily, Los Angeles</p>
  <div class="review__slider">
    <svg class="review_home" width="12px" height="12px">
      <use href="./images/sprite.svg#icon-review-home"></use>
    </svg>
    <svg class="review_elipse--large" width="12px" height="12px">
      <use href="./images/svg/elipse.svg"></use>
    </svg>
    <svg class="review_elipse--large" width="12px" height="12px">
      <use href="./images/svg/elipse.svg"></use>
    </svg>
  </div>
</div>